.header {
	position: relative;
	background-image: url('https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?q=80&w=1927&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover;
	background-position: center;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for desired transparency */
}

.header .container {
	position: relative;
	z-index: 1;
}

.profile-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 20px;
}